POSTGRES_USER=ustatop
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=ustatop

WEB_IMAGE=ghcr.io/your-org-or-user/ustatop-web:latest

NEXTAUTH_SECRET=change_me_super_secret
NEXTAUTH_URL=https://app.yourdomain.com
NEXT_PUBLIC_APP_URL=https://app.yourdomain.com
UPLOADTHING_TOKEN=your_uploadthing_token
ADMIN_EMAIL=admin@ustatop.uz
ADMIN_PASSWORD=change_me_admin_password
